<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= recipes.name %></h2>
      <img class="img-fluid" src="<%= recipes.image %>" alt="<%= recipes.name %>"/>
      <div class="row justify-content-between">
        <!-- Like Button -->
        <!-- need to update the associated routes and controllers -->
        <form class="col-1" action="/recipe/likeRecipe/<%= recipes._id %>?_method=PUT" method="POST">
          <button class="btn btn-primary fa fa-heart" type="submit" aria-label="Like"></button>
        </form>
        <form class="col-1" action="/recipe/favoriteRecipe/<%= recipes._id %>" method="POST">
          <button class="btn btn-primary fa fa-star" type="submit" aria-label="Like"></button>
        </form>
        <h3 class="col-3">Likes: <%= recipes.likes %></h3>
        <!-- Delete Button (Visible only to the post author) -->
        <% if (recipes.user.toString() === user._id.toString()) { %>
        <form action="/recipe/deleteRecipe/<%= recipes._id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit" aria-label="Delete"></button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="col-3 mt-5">
      <h2>Ingredients:</h2>
      <p><%= recipes.ingredients %></p>
    </div>
    <div class="col-3 mt-5">
      <h2>Directions:</h2>
      <p><%= recipes.directions %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>






